      @import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Amatic+SC:wght@400;700&family=Bitter:ital,wght@0,300;0,600;1,400&family=Black+Ops+One&family=Bungee+Shade&family=Exo+2&family=Gloria+Hallelujah&family=Indie+Flower&family=Kanit:ital,wght@0,400;0,600;1,100&family=Lato:ital,wght@0,300;1,300;1,700;1,900&family=Monoton&family=Nunito:wght@200;700;900&family=Permanent+Marker&family=Pixelify+Sans:wght@500&family=Press+Start+2P&family=Rowdies:wght@300&family=Rubik+Moonrocks&display=swap");
      body {
        font-family: Arial, sans-serif;
        background: #dadada;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      ::selection {
        background: red;
      }

      #btnStart:active {
        transform: scale(0.9);
        transition: 0.4s;
      }
      #btnStart {
        transition: 0.4s;
        background: #38f4ef;
        box-shadow: 2px 3px 1px black;
        font-family: "Rowdies", Sans-Serif;
        margin-top: 10px;
        border-radius: 3px;
        border: 2px solid black;
            animation: masukStrt 15s;
      }
      @keyframes masukStrt {
        0% {
          opacity: 0;
        }
        60% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
      .containerStart {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      }
      .container-button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      /*text*/
      @keyframes gerakTeks {
        from {
          transform: scale(0.9);
        }
        to {
          transform: scale(1);
        }
      }
      .judul {
        text-align: center;
        letter-spacing: 0.2px;
        font-weight: 400;
        font-family: "Press Start 2P", Sans-Serif;
        animation: gerakTeks 2s infinite ease-in-out alternate;
        transition: none;
      }
      .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        animation: pudar 10s alternate ease-in-out infinite;
      }
      @keyframes pudar {
        from {
          transition: 1s;
          transform: translateY(-500px);
          opacity: 0;
        }
        to {
          transition: 5s;
          transform: translateY(0px);
          opacity: 20%;
        }
      }
      .gear:hover {
        text-decoration: none;
        list-style: none;
        background: none;
      }
      .gear {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        animation: putar 1s linear alternate-reverse infinite;
      }
      @keyframes putar {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(100deg);
        }
      }
      .dalset {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      #setting {
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background: whitesmoke;
        color: black;
        width: 70%;
        height: 80%;
        padding: 30px 30px 30px;
        border: 3px solid black;
        border-radius: 5px;
        font-family: "Black Ops One", Sans-Serif;
        position: fixed;
        z-index: 99999999999999;
      }
      audio {
        display: none;
        overflow: hidden;
      }
      .volOf {
        text-align: center;
      }
      #onGbrBS {
        display: flex;
      }
      #ofGbrBS {
        display: none;
      }
      #onGbrSFX {
        display: flex;
      }
      #ofGbrSFX {
        display: none;
      }
      .option {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        margin-right: 10%;
      }
      .exit {
      }
      .closeSet:active {
        transform: scale(0.9);
      }
      .closeSet {
        transition: 0.4s;
        border: none;
        background: white;
        color: black;
        margin-left: 100%;
        margin-bottom: 10px;
        box-shadow: 2px 3px 1px black;
        font-family: "Rowdies", Sans-Serif;
        border-radius: 3px;
        border: 2px solid black;
      }
      #pembuka {
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background: whitesmoke;
        color: black;
        border: 3px solid black;
        border-radius: 5px;
        font-family: "Monospace", Sans-Serif;
        position: fixed;
        padding-bottom: 50px;
        z-index: 99999999;
      }
      .jpembuka {
        color: black;
        font-family: "Indie Flower", Sans-Serif;
        font-weight: 1000;
      }
      .ppembuka {
        color: black;
        padding-left: 50px;
        padding-right: 50px;
      }
      .close:disabled {
        background: #9f9f9f;
      }
      .close:active {
        transform: scale(0.9);
      }
      .close {
        transition: 0.4s;
        border: none;
        background: #ffffff;
        color: black;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
        box-shadow: 2px 3px 1px black;
        font-family: "Rowdies", Sans-Serif;
        border-radius: 3px;
        padding-left: 20px;
        padding-right: 20px;
        border: 2px solid black;
      }
      
.icon{
  display: inline-block;
  flex-direction: column;
  position: absolute;
  top: -25px;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  background: whitesmoke;
}
#namaUser::placeholder {
  font-family: "Monospace", Sans-Serif;
  color: white;
}
#namaUser {
  font-family: "Monospace", Sans-Serif;
  color: white;
  border-radius: 5px;
  background: #42a5e8;
  text-align: center;
  border: 2px solid black;
}
.logo {
  z-index: 99999;
  animation: bounce 5s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
      @media screen and (max-width: 368px) {
        #btnStart {
          width: 80px;
          height: 30px;
          font-size: 0.8em;
        }
        .gear img {
          width: 30px;
        }
        .setting {
          width: 300px;
          height: 250px;
        }
        .txtAudioInfo {
          font-size: 0.8em;
        }
        .volOn {
          width: 20px;
        }
        .volOf {
          width: 20px;
        }
        .exit {
          width: 40px;
        }
        .option {
          bottom: 10%;
        }
        .logo {
          width: 60px;
        }
        #pembuka {
          width: 300px;
          height: 250px;
        }
        .jpembuka {
          font-size: 0.8em;
        }
        .ppembuka {
          font-size: 0.5em;
        }
        .close {
          scale: 0.6;
        }
        .closeSet {
          font-size: 0.8em;
        }
        .button {
          scale: 0.8;
        }
        .icon{
          width: 50px;
        }
      }
      @media screen and (min-width: 368px) {
        . button {
          scale: 1;
        }
        #btnStart {
          width: 80px;
          height: 30px;
          font-size: 1em;
        }
        .judul {
          font-size: 1em;
        }
        .gear img {
          width: 35px;
        }
        .setting {
          width: 350px;
          height: 300px;
        }
        .txtAudioInfo {
          font-size: 1.5em;
        }
        .volOn {
          width: 40px;
        }
        .volOf {
          width: 40px;
        }
        .exit {
          width: 40px;
        }
        .option {
          bottom: 10%;
        }
        .closeSet {
          font-size: 1.5em;
        }
        .logo {
          width: 100px;
        }
        #namaUser {
          width: 180px;
          height: 20px;
        }
        #pembuka {
          width: 350px;
          height: 300px;
        }
        .jpembuka {
          font-size: 1em;
        }
        .ppembuka {
          font-size: 0.7em;
        }
        .icon{
          width: 50px;
        }
      }
      @media screen and (min-width: 768px) {
        .container-button button {
        }
        #btnStart {
          font-size: 1.5em;
          width: 180px;
          height: 80px;
        }
        .gear img {
          width: 50px;
          padding-left: 15px;
          padding-top: 15px;
        }
        .judul {
          font-size: 1.5em;
        }
        .setting {
          width: 700px;
          height: 600px;
        }
        .txtAudioInfo {
          font-size: 2em;
        }
        .volOn {
          width: 50px;
        }
        .volOf {
          width: 50px;
        }
        .exit {
          width: 100px;
        }
        .option {
          bottom: 15%;
        }
        .closeSet {
          font-size: 1em;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 40px;
          padding-right: 40px;
        }
        .logo {
          width: 200px;
        }
        #pembuka {
          width: 700px;
          height: 600px;
        }
        .jpembuka {
          font-size: 2em;
        }
        .ppembuka {
          font-size: 1.7em;
        }
        .button {
          margin-top: 50px;
          font-size: 1.8em;
        }
        .icon {
          top: -50px;
          width: 100px;
        }
        .close {
          scale: 2;
        }
        #namaUser {
          width: 200px;
          height: 50px;
        }
      }
